<div align="center">
	<header>
      <h1>Hi {{name}}, what do you want to do?</h1>
      <a href="/logout">logout</a>
  </header>
  <div class="container">
	  <div>
		{{#each categories}}
			<button class="catBtn btn btn-primary" data-category="{{category}}">{{name}}</button>
		{{/each}}
		<button class="catBtn btn btn-primary" data-category="saves">favorites</button>
	</div>
	<div class="search-wrap hide">
      <form id="searchForm">
          <input type="text" id="search" placeholder="Type something..." autocomplete="off" class="form-control" />
          <input type="submit" value="search" class="form-control btn btn-primary w100" id="submit">
      </form>
  </div>
  <div id="results"></div>
  </div>
</div>



<script>
	// var cookie = document.cookie.split("; ");
	// var userName = cookie[0].split("=");
	// $("#name").text(userName[1]);
</script>