<div>
	<header align="center">
      <h1>Hi <span id="name"></span>, what do you want to do?</h1>
  </header>
  <div class="container">
	  <div>
		{{#each categories}}
			<button class="catBtn btn btn-seconday" data-category="{{category}}">{{category}}</button>
		{{/each}}
		<button class="catBtn btn btn-seconday" data-category="saves">saves</button>
	</div>
  </div>
</div>



<script>
	var cookie = document.cookie.split("; ");
	var userName = cookie[0].split("=");
	$("#name").text(userName[1]);
</script>