<div class="container">
 
<form id="signinForm" action="/login" method="post">
	<p id="#email-msg"></p>
        <label for="email">Email Address</label>
        <input id="email" class="text" name="email" type="text" />
        <label for="password">Password</label>
        <input id="password" name="password" type="password" />
        <input id="signin" class="btn sbt" type="submit" value="Sign In" />
</form>

<form id="signupForm" action="/signup" method="post">
        <label for="email">Email Address</label>
        <input id="newEmail" class="text" name="email" type="email" />
        <label for="name">name</label>
        <input id="newName" name="name" type="text" />
        <label for="password">Password</label>
        <input id="newPWd" name="password" type="password" />
        <input id="signup" class="btn sbt" type="submit" value="Sign Up" />
</form>
    
</div>
<script>
// form validation
	$("#email, #password").on('keyup', function () {
		var email = $('#email').val()
		var password = $('#password').val()

		if(email.length > 0 && validateEmail(email) && password.length > 0 ){
			$("#signin").removeClass("disabled");
			$("#signin").removeAttr('disabled');
		}else{
			$("#signin").addClass("disabled");
			$("#signin").attr('disabled');
		}
	})

//
// check valid email address
function validateEmail(str){
  var regex = /^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
  if(!regex .test(str)){
    $("#email-msg").text("Please enter valid email.").css('color', 'red');
    return false
  }else{
    $("#email-msg").text("");
    return true
  }
}


</script>